.container-flex{
    display: flex ;
    flex-direction: row ;

}
.flex-container-section{
    flex-direction: column;
    width: 50%;
}
.flex-container-item-desktop{
    flex-direction: column;
    width: 50%;
}